{% load static %}

<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>The Health Club Project</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body class="d-flex flex-column h-100 main-bg">
    <!-- Navigation -->

    <nav
      class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
      id="mainNav"
      style="z-index: 9999"
    >
      <div class="container px-4 px-lg-5 navbar-collapse">
      <!--<div class="container-fluid">-->
        <a class="navbar-brand w-100" href="{% url 'home' %}"
          ><!--<span class="brand">The<span class="red-o">Health</span>Club<span
                        class="thin">Project</span></span></span>--><img
            src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1692358180/healthclub-pp4/logo_drdeem.jpg"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Login</a>
            </li>
            {% endif %}
          </ul>
          <!--<span class="navbar-text text-muted"> The Health Club Project </span>-->
        </div>
      </div>
    </nav>

   <!-- <main class="flex-shrink-0 main-bg">-->
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

   
    <!-- Footer-->
    <footer style="background-color: rgb(124, 130, 133); margin-top: auto;" class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.instagram.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <br>
                    <div class="small text-center footer-text-color fst-italic">Copyright &copy; The Health Club
                        Project. <br> The website is intended for educational purposes only and was created as the 4th
                        project for the Code Institute. 2023</div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
