{% extends "base.html" %} {% block content %}

<!-- Main Content-->
<section class="pt-5">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
            src="https://res.cloudinary.com/dbjnqkn07/image/upload/v1692358157/healthclub-pp4/pexels-lukas-669584_tcw4gk.jpg"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h3 class="display-4 text-lg-center">Together!</h3>
          <h5 class="post-subtitle text-lg-center">
            We want You to be the very best version of your self and together we
            can make it happen. We will help you acheive the goals that you want
            to reach. Your goal will be our goal and we will be ther every step
            of the way. Book your Personal Trainer session today and get started
            on your journey!
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

{%endblock%}
